/* styles/styles.css */

/* Import the Inter font */
@font-face {
    font-family: 'Inter';
    src: url('../styles/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../styles/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Set the default font for the entire app */
body, h1, h2, h3, h4, h5, h6, p, div, span, a {
    font-family: 'Inter', sans-serif;
}

/* Additional custom styles for specific elements */
.custom-title {
    font-size: 48px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.custom-markdown {
    font-size: 18px;
    color: #333333;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

.uploaded-file-info {
    font-size: 16px;
    color: #666666;
    font-family: 'Inter', sans-serif;
}
